/*!------RESET------*/
* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

body{
    font-family: Arial, Helvetica, sans-serif
}



/*!------HEADER------*/
header {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}



header h1 {
    font-size: 60px;
    font-weight: 900;
    color: rgb(0, 0, 0);

}

header nav {
    width: 50%;
}

header nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

header nav ul li {
    margin: 5px;
}

header nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}




/*!------MAIN------*/
.hero {
    width: 100%;
    height: 500px;
    text-align: center;
    color: rgb(0, 0, 0);
    background-image: url("../img/pets1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h2 {
    font-size: 60px;
}

.hero a {
    text-decoration: none;
    background-color: orangered;
    color: black;
    padding: 10px;
    text-decoration: none;
    font-size: 25px;
}

.solo {
    width: 100%;
    height: 500px;
    text-align: center;
    color: rgb(0, 0, 0);
    background-image: url("../img/pets2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.solo h2 {
    font-size: 60px;
}

.solo a {
    text-decoration: none;
    background-color: orangered;
    color: rgb(0, 0, 0);
    padding: 10px;
    text-decoration: none;
    font-size: 25px;
}

/* CARD CONTENEDOR */

.adopta h2 {
    text-align: center;
    background-color: orangered;
    font-size: 30px;
    color: #ffffff;
    padding: 10px;
}

.adopta .card-contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.adopta .card-contenedor div {
    width: 250px;
    border: 1px black solid;
    text-align: center;
    margin: 20px;
    transition: 1s;
}

.adopta div img {
    width: 100%;
    height: 270px;
}

.adopta div a {
    text-decoration: none;
    display: inline-block;
    margin: 10px;
    background-color: orangered;
    color: azure;
    padding: 15px;
}

/* CARD CONTENEDOR */

.fundada {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.fundada div {
    width: 50%;
    margin: 20px;
}

.fundada div h2 {
    font-size: 50px;
}

.fundada div p {
    font-size: 20px;
    width: 80%;
}

.fundada img {
    width: 400px;
    height: 600px;
}

/* NOSOTROS - MAPA */

.mapa {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.mapa div {
    width: 50%;
}

@media (max-width: 500px) {
    .mapa div {
        width: 100%;
    }
}

.mapa div h2 {
    font-size: 50px;
}

.mapa div p {
    font-size: 20px;
    width: 80%;
}

.mapa iframe {
    width: 50%;
}

@media (max-width: 800px) {
    .mapa iframe {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .mapa iframe {
        width: 35%;
    }
}

/* NOSOTROS - MAPA */


/*!------NOSOTROS------*/
.somos {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.somos div {
    width: 50%;
    margin: 20px;
}

.somos div h2 {
    font-size: 50px;
}

.somos div p {
    font-size: 20px;
    width: 80%;
}

.somos img {
    width: 400px;
    height: 300px;
}


.ayudantes {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.ayudantes div {
    width: 50%;
    margin: 20px;
}

.ayudantes div h2 {
    font-size: 50px;
}

.ayudantes div p {
    font-size: 20px;
    width: 80%;
}

.ayudantes img {
    width: 400px;
    height: 600px;
}

/*!------SERVICIOS------*/

.ofrecemos {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.ofrecemos div {
    width: 50%;
    margin: 20px;
}

.ofrecemos div h2 {
    font-size: 50px;
    
}

.ofrecemos div p {
    font-size: 20px;
    width: 80%;
    
}

.ofrecemos img {
    width: 400px;
    height: 300px;
}

@media screen and (max-width:950px) {
    .ofrecemos {
        flex-direction: column;
    }

    .ofrecemos div {
        width: 80%;
        text-align: center;
    }

    .ofrecemos div p {
        width: 100%;
    }

    .ofrecemos img {
        width: 70%;
        height: 400px;
    }
}

.peluqueria {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.peluqueria div {
    width: 50%;
    margin: 20px;
}

.peluqueria div h2 {
    font-size: 50px;
    
}

.peluqueria div p {
    font-size: 20px;
    width: 80%;
    
}

.peluqueria img {
    width: 400px;
    height: 300px;
}

@media screen and (max-width:950px) {
    .peluqueria {
        flex-direction: column;
    }

    .oeluqueria div {
        width: 80%;
        text-align: center;
    }

    .peluqueria div p {
        width: 100%;
    }

    .peluqueria img {
        width: 70%;
        height: 400px;
    }
}
.guarderia {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.guarderia div {
    width: 50%;
    margin: 20px;
}

.guarderia div h2 {
    font-size: 50px;
    
}

.guarderia div p {
    font-size: 20px;
    width: 80%;
}

.guarderia img {
    width: 400px;
    height: 300px;
}

@media screen and (max-width:950px) {
    .guarderia {
        flex-direction: column;
    }

    .guarderia div {
        width: 80%;
        text-align: center;
    }

    .guarderia div p {
        width: 100%;
    }

    .guarderia img {
        width: 70%;
        height: 400px;
    }
}

.oftalmologia {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.oftalmologia div {
    width: 50%;
    margin: 20px;
}

.oftalmologia div h2 {
    font-size: 50px;
}

.oftalmologia div p {
    font-size: 20px;
    width: 80%;
}

.oftalmologia img {
    width: 400px;
    height: 300px;
}

@media screen and (max-width:950px) {
    .oftalmologia {
        flex-direction: column;
    }

    .oftalmologia div {
        width: 80%;
        text-align: center;
    }

    .oftalmologia div p {
        width: 100%;
    }

    .oftalmologia img {
        width: 70%;
        height: 400px;
    }
}

/*!------DONACIONES------*/
.donaciones {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.donaciones div {
    width: 50%;
    margin: 20px;
}

.donaciones div h2 {
    font-size: 50px;
}

.donaciones div p {
    font-size: 20px;
    width: 80%;
}

@media screen and (max-width:950px) {
    .donaciones {
        flex-direction: column;
    }

    .donaciones div {
        width: 80%;
        text-align: center;
    }

    .donaciones div p {
        width: 100%;
    }
}

.donar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.donar div {
    width: 50%;
    margin: 20px;
}

.donar div h2 {
    font-size: 50px;
}

.donar div p {
    font-size: 20px;
    width: 80%;
}

@media screen and (max-width:950px) {
    .donar {
        flex-direction: column;
    }

    .donar div {
        width: 80%;
        text-align: center;
    }

    .donar div p {
        width: 100%;
    }
}

/*!------CONTACTO------*/
.formu {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form{
    padding: 50px 55px;
    box-shadow: 0 0 20px rgb(0, 0, 0);
    border-radius: 20px;
    text-align: center;
    width: 340px;
}

.input-group {
    display: flex  ;
    flex-direction: column;
    text-align: left;
}

.form h2 {
    color: #283629;
    font-size: 35px;
}

.form label {
    color: #283629;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

.form div input, textarea {
    padding: 17px 25px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: white;
    border: 2px solid white;
    color: #283629;
    outline: none;
}
.btn {
    font-size: 16px;
    color: #ffffff;
    border: 0;
    border-radius: 25px;
    background-color: #51d94c;
    box-shadow: 0 0 20px rgba(25, 254, 0, 0.4);
    cursor: pointer;
}

.btn:hover {
    background-color: #51d94c;
}

@media(max-width: 991px) {
    
    .formu {
        padding: 30px;
    }

    .form {
        padding: 50px 30px;
        width: 100%;
    }

    .input {
        padding: 15px;
    }
}




/*!------FOOTER------*/
footer {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.footer h2 {
    font-size: 50px;
}

footer div a img {
    /*width = ancho*/
    width: 50px;
    /*height = alto*/
    height: 50px;
}

/*!------MEDIA QUERY------*/
@media screen and (max-width:950px) {
    .fundada {
        flex-direction: column;
    }

    .fundada div {
        width: 80%;
        text-align: center;
    }

    .fundada div p {
        width: 100%;
    }

    .fundada img {
        width: 70%;
        height: 400px;
    }
}

@media screen and (max-width:900px) {
    .somos {
        flex-direction: column;
    }

    .somos div {
        width: 80%;
        text-align: center;
    }

    .somos div p {
        width: 100%;
    }

    .somos img {
        width: 70%;
        height: 400px;
    }
}

@media screen and (max-width:900px) {
    .ayudantes {
        flex-direction: column;
    }

    .ayudantes div {
        width: 80%;
        text-align: center;
    }

    .ayudantes div p {
        width: 100%;
    }

    .ayudantes img {
        width: 70%;
        height: 400px;
    }
}



@media screen and (max-width:800px) {
    header {
        flex-direction: column;
    }
}

@media screen and (max-width:700px) {
    header nav ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width:550px) {
    .hero h2 {
        font-size: 40px;
    }

    .hero p {
        font-size: 25px;
        margin-bottom: 20px;
    }
}